
<mat-form-field class="example-full-width">
  <mat-icon matPrefix>search</mat-icon>
  <mat-label>Search</mat-label>
  <button
    type="button"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clearObject()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="ObjectSelected($event)"
  >
    <mat-option *ngFor="let obj of filteredOptions | async" [value]="obj[options.field]">
      <span class="small">{{ obj[options.field] }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

